{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- BEGIN LivePerson Monitor. -->
    <script type="text/javascript" src="/static/tags/{{ farm }}/{{ site }}.js"></script>
    <!-- END LivePerson Monitor. -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
    <title>{{ title }}</title>
</head>
<body>
<header>
    <h1>{{ title }}</h1>
</header>
{% include "main/menu.html" %}

<section>
    <p>
        {{ date }}<br/><br/>
        SiteID: {{ site }}
        <br/>
        ---------------------------------------------------------------------
    </p>
</section>
<footer>
    <div id="copyright">&copy; 2016 Moshe Shitrit. All rights reserved.</div>
</footer>
</body>
</html>