{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}"/>
</head>
<body>
    <nav>
        <div class="dropdown">
            <button class="dropbtn">alpha</button>
            <div class="dropdown-content">
                <a href="alpha_LE2.html">LiveEngage2</a>
                <a href="alpha_Legacy.html">Legacy</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">GA</button>
            <div class="dropdown-content">
                <a href="GA_LE2.html">LiveEngage2</a>
                <a href="GA_Legacy.html">Legacy</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">UK</button>
            <div class="dropdown-content">
                <a href="UK_LE2.html">LiveEngage2</a>
                <a href="UK_Legacy.html">Legacy</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">SY</button>
            <div class="dropdown-content">
                <a href="SY_LE2.html">LiveEngage2</a>
                <a href="SY_Legacy.html">Legacy</a>
            </div>
        </div>
    </nav>
</body>
</html>